.git
.gitignore
.next
**/.next
node_modules
**/node_modules
storybook-static
coverage
**/coverage
*.log
**/*.log
*.tsbuildinfo
**/*.tsbuildinfo
.env
.env.*
!.env.example
!.env.docker.example
.agents
.storybook
.swc
docs
