DASHBOARD_PORT=3001
SHELL_PORT=3000
DASHBOARD_REMOTE_URL=http://dashboard-remote:3001
NEXT_PUBLIC_API_URL=/api
NEXT_PUBLIC_API_MOCKING=enabled
NEXT_PUBLIC_MSW_SCENARIO=success
NEXT_PUBLIC_MSW_DELAY_MS=300
